<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/checkout">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="order_details section_gap">
        <div class="container">
            
            <h3 class="title_confirmation ">{{message}}</h3>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <form class="row contact_form"  method="post" novalidate="novalidate">
                            
                            
                            
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="number" placeholder="Number">
                                
                            </div>
                            
                            
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                                
                            </div>
                            
                           
                            
                            
                            
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Shipping Details</h3>
                                    
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                           
                            <button  type="submit" value="submit" class="primary-btn">Confirm</button>
                            
                            
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <table class="table">
						        <thead>
							        <tr>
                                        <th scope="col">Product</th>
								        <th scope="col">Quantity</th>
								        <th scope="col">Total</th>
							        </tr>
						        </thead>
						        <tbody>
							        {{#each result}}
							        <tr>
								        <td>
									        <p>{{this.name}}</p>
								        </td>
								        <td>
									        <h5>{{this.number}}</h5>
								        </td>
								        <td>
									        <p>${{this.total}}</p>
								        </td>
							        </tr>
							        {{/each}}
							
							
							
							
							    <tr>
								    <td>
									    <h4>Total</h4>
								    </td>
								    <td>
									    <h5></h5>
                                    </td>
								    <td>
									    <p>${{sum}}</p>
                                    </td>
							    </tr>
						        </tbody>
					        </table>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
