<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Order History</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/history">History</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		
		
		<div class="container">
			
			{{#each result}}
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							
							<li><a ><span>Date</span> : {{this.order._book}}</a></li>
							<li><a ><span>Total</span> : USD {{this.order._total}}</a></li>
							<li><a ><span>Status</span> : {{this.order._status}}</a></li>
						</ul>
					</div>
				</div>
				
				
			</div>
			
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{{#each this.datas}}
							<tr>
								<td>
									<p>{{this._nameproduct}}</p>
								</td>
								<td>
									<h5>{{this._amount}}</h5>
								</td>
								<td>
									<p>${{this._total}}</p>
								</td>
							</tr>
							{{/each}}
							
							
							
							
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>${{this.order._total}}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<p></p>
			
			{{/each}}
		</div>
		
	</section>
	<!--================End Order Details Area =================-->